@page
@{
#pragma warning disable CS8602
}
@model SmartHomeWeb.Pages.DashboardModel
@{
    ViewData ["Title"] = "Dashboard";
}
<html>
<body>
    <div class="row" style="display: flex; flex-wrap: wrap; justify-content: flex-start;">
        @foreach (string? measure in Model.MeasuresUI)
        {
            <div class="col-md-auto col-sm-auto col-xs-auto" style="margin: 5px; position: relative; display: flex; flex-direction: column; align-items: flex-start;">
                <a href="/" class="btn" style="background: gray; text-align: center; padding: 17px 35px; min-width: 100px; width: auto; max-width: 100%;">
                    @Html.Raw(measure)
                </a>
                <button type="button" class="btn btn-favourite" onclick="toggleFavourite(this)" data-icon-default="@Url.Content("~/Images/star.svg")" data-icon-active="@Url.Content("~/Images/star-fill.svg")">
                    <img src="@Url.Content("~/Images/star.svg")" alt="" style="width: 16px; height: 16px;">
                </button>
            </div>
        }
    </div>

    <script src="@Url.Content("~/js/Favourite.js")"></script>

</body>
</html>